.socials {
  display: flex;
  column-gap: 22.5px;
  align-items: center;

  .link {
    cursor: pointer;
    transition: 0.1s;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transition: 0.1s;
      transform: scale(1.2);
    }
  }
}
